*{
   padding: 0;
   margin: 0;
}
.head{
   background-color: #919191;
   width: 100%;
   height: 100px;
}
.nav{
   float: left;
   display: flex;
   justify-content: space-evenly;
   width: 35%;
   height: 100px;
   font-size: 20px;
   font-family: "Cinzel", serif;
   font-weight: 300;
   font-style: normal;
   text-align: center;
   line-height: 100px;
}
.home{
   height: 100px;
   width: 65px;
}
.home a{
   text-decoration: none;
   color: black;
}
.home:hover{
   text-decoration: underline;
}
.about{
   height: 100px;
   width: 95px;
}
.about a{
   text-decoration: none;
   color: black;
}
.about:hover{
   text-decoration: underline;
}
.contact_us{
   font-weight: 800;
   height: 100px;
   width: 145px;
}
.contact_us a{
   text-decoration: underline;
   color: black;
}
.team{
   width: 250px;
   height: 100px;
   background-image: url(img/team.png);
   float: right;
}
.body{
   width: 100%;
   height: 600px;
   display: flex;
   justify-content: center;
}
.container{
   width: 50%;
   height: 600px;
   display: flex;
   flex-direction: column;
   align-items: center;
}
.title{
   font-family: "Cinzel Decorative", serif;
   font-weight: 600;
   font-size: 50px;
   line-height: 130px;
   font-style: normal;
   text-align: center;
   margin-top: 30px;
   width: 100%;
   height: 100px;
   text-shadow: 3px 3px #363636;
}
.subtitle{
   font-family: "Kanit", serif;
   font-size: 23px;
   text-align: center;
   width: 100%;
   height: 60px;
}
.logo{
   width: 50%;
   height: 70px;
   display: flex;
   justify-content: space-evenly;
}
.facebook{
   background-image: url(img/fblogo.png);
   width: 70px;
   height: 70px;
}
.youtube{
   background-image: url(img/ytlogo.png);
   width: 70px;
   height: 70px;
}
.twitter{
   background-image: url(img/twitterlogo.png);
   width: 70px;
   height: 70px;
}
.img{
   margin-top: 30px;
   width: 370px;
   height: 200px;
   display: flex;
   justify-content: space-between;
}
.hollow{
   background-image: url(img/hollow.png);
   width: 120px;
   height: 150px;
}
.silksong{
   background-image: url(img/silksong.png);
   width: 120px;
   height: 200px;
}
.knight{
   background-image: url(img/knight.png);
   width: 120px;
   height: 150px;
}
p{
   margin-top: 20px;
   font-family: "Kanit", serif;
}